* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}
.app {
  min-height: 100vh;
  color: white;

  background-image: 
    linear-gradient(rgba(2, 6, 23, 0.7), rgba(2, 6, 23, 0.9)),
    url("./assets/bg.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 60px;
}
.logo {
  font-weight: bold;
  font-size: 1.1rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 28px;
}
.nav-links li {
  cursor: pointer;
  opacity: 0.9;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 90px 20px 60px;
}

.hero-title {
  font-size: 3.4rem;
  font-weight: 800;
  line-height: 1.25;
  margin-bottom: 18px;
}
.hero-title span {
  color: #38bdf8;
}
.hero-desc {
  font-size: 1.1rem;
  opacity: 0.85;
  max-width: 700px;
  margin-bottom: 28px;
}
.search-box {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}
.search-box input {
  width: 420px;
  padding: 14px 16px;
  border-radius: 12px;
  border: none;
  font-size: 0.95rem;
}

.search-box button {
  padding: 14px 26px;
  border-radius: 12px;
  border: none;
  background: linear-gradient(135deg, #3b82f6, #06b6d4);
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.hero-help {
  font-size: 0.85rem;
  opacity: 0.7;
}
.features {
  display: flex;
  justify-content: center;
  gap: 26px;
  padding: 70px 20px;
}

.feature-card {
  width: 260px;
  padding: 26px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(8px);
  text-align: center;
  transition: transform 0.3s ease;
}
.feature-card:hover {
  transform: translateY(-8px);
}
.feature-card h3 {
  margin-bottom: 10px;
}
.feature-card p {
  font-size: 0.9rem;
  opacity: 0.85;
}
