*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
 body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;

  background: url("/background.jpg") no-repeat center center fixed;
  background-size: cover;
  color:white;
}

}
