.debugger-page{
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:40px;
  color:white;
  min-height:100vh;
}

textarea{
  width:70%;
  height:200px;
  padding:15px;
  border-radius:10px;
  margin:20px 0;
  font-size:15px;
  outline:none;
}

.analyse-btn{
  padding:14px 34px;
  border:none;
  border-radius:10px;
  background: linear-gradient(45deg,#2d92ff,#0084ff);
  color:white;
  font-weight:bold;
  font-size:16px;
  cursor:pointer;
  transition: all 0.25s ease;
}

/* hover effect */
.analyse-btn:hover{
  transform: scale(1.08);
  box-shadow: 0 0 20px rgba(0, 213, 255, 0.7),
              0 0 40px rgba(0, 247, 255, 0.5);
}

/* click effect */
.analyse-btn:active{
  transform: scale(0.95);
  box-shadow: 0 0 10px rgba(0, 153, 255, 0.9);
}


.output{
  margin-top:25px;
  width:70%;
  max-height:250px;
  overflow-y:auto;
  background:rgba(255,255,255,0.08);
  padding:20px;
  border-radius:12px;
}
